@model IEnumerable<VetPharmacy.Shipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<button id="btn-show-all-children" type="button">Expand All</button>
<button id="btn-hide-all-children" type="button">Collapse All</button>
<table class="table" id="example">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentRemainderAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.MedicineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipmentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipmentRemainderAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShipmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipmentId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('table[id="example"]').DataTable({

            'responsive': true
        });
        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });
        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });


    })
</script>
